#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}

.container {
  padding: 1.6em;
  font-weight: 200;
}

label {
  font-size: 1.2em;
  margin: 1.2em;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 2em;
  height: 2em;
  font-size: 1.2em;
  width: 500px;
}

p {
  font-size: 1.5em;
  margin: 0.5em;
}
